body{
  background: url("../img/BGbody.png");
}

.main-container{
  margin: rem(86px) rem(25px);
  //margin: 86px 25px;
  background: $mainContainerBG;
  box-shadow: 0 4px 25.81px 3.19px rgba(0, 0, 0, 0.24);
}