.laptop__custom-container{
  @include media_desktop{
    padding: 0 25px;
  }
}

.catalog__block{
  margin-bottom: 70px;
}
.catalog__block__wrap{
  background: $catalogBG;
  border-radius: 6px;
  padding-bottom: 25px;
  @include media_phones{
    padding-bottom: 50px;
  }
}
.catalog__name__block{
  background: url("../img/BGbody.png") $catalogNameBG;
  border-radius: 6px;
  margin-bottom: 40px;
}
.catalog__name{
  color: $mainTextColorL;
  font-size: 45px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: $mailFontFamily;
  margin: 0;
}

.product__item{
  border: 1px solid rgb(225, 225, 225);
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  padding: 24px 32px 17px 32px;
  margin-bottom: 20px;
  &:hover{
    box-shadow: 0px 4px 5.34px 0.66px rgba(0, 0, 0, 0.15);
  }
  @include media_tablets{
    margin-left: 100px;
    margin-right: 100px;
  }
  @include media_680{
    margin-left: 50px;
    margin-right: 50px;
  }
  @include media_phones{
    margin-left: 0;
    margin-right: 0;
  }
}
.product__item__img{
  min-height: 175px;
  overflow: hidden;
  img{
    max-height: 135px;
    //height: auto;
  }
}
.product__item__name{
  height: 100px;
  overflow: hidden;
  @include media_laptop{
    height: 50px;
  }
  @include media_680{
    height: 75px;
  }
}
.product__item__name-text{
  font-size: 16px;
  line-height: 16px;
  font-family: $secFontFamily;
  color: $colorNameProd;
}

.product__item__btn{
  border-radius: 3px;
  background-color: $secondColor;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 5px 7px;
  font-size: 14px;
  font-weight: 700;
  font-family: $secFontFamily;
  color: $mainTextColorL;
  @include media_laptop{
    padding: 5px 20px;
  }
}

.product__item:hover{
  .product__item__btn{
    background-color: $colorHoverBTN;
  }
}

.catalog__block__wrap{
  .carousel-indicators{
    bottom: -25px;
    @include media_phones{
      bottom: -50px;
    }
  }
  .carousel-indicators li {
    width: 15px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background: url("../img/sl_ind.png") center 0px no-repeat;
  }
  .carousel-indicators li.active{
    background: url("../img/sl_ind.png") center -35px no-repeat;

  }
  .carousel-control{
    background: none;
  }
  .carousel__icon{
    width: 20px;
    height: 40px;
    z-index: 100;
    position: absolute;
    top: 50%;
    opacity: 0.2;
    &:hover{
      opacity: 0.8;
    }
  }
  .carousel_left{
    background: url("../img/lest.png") no-repeat;
    left: -5px;
  }
  .carousel_right{
    background: url("../img/rig.png") no-repeat;
    right: -5px;
  }
}





