.catalog__block{
  margin-bottom: 70px;
}
.catalog__block__wrap{
  background: $catalogBG;
  border-radius: 6px;
  padding-bottom: 25px;
}
.catalog__name__block{
  background: url("../img/BGbody.png") $catalogNameBG;
  border-radius: 6px;
  margin-bottom: 40px;
}
.catalog__name{
  color: $mainTextColorL;
  font-size: 45px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: $mailFontFamily;
  margin: 0;
}

.product__item{
  border: 1px solid rgb(225, 225, 225);
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  padding: 24px 32px 17px 32px;
  margin-bottom: 20px;
  &:hover{
    box-shadow: 0px 4px 5.34px 0.66px rgba(0, 0, 0, 0.15);
  }
}
.product__item__img{
  min-height: 175px;
  img{
    max-height: 135px;
    //height: auto;
  }
}
.product__item__name{
  height: 100px;
  overflow: hidden;
}
.product__item__name-text{
  font-size: 14px;
  font-family: $secFontFamily;
  color: $colorNameProd;
}

.product__item__btn{
  border-radius: 3px;
  background-color: $secondColor;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 5px 15px;
  font-size: 16px;
  font-family: $secFontFamily;
  color: $mainTextColorL;
}

.product__item:hover{
  .product__item__btn{
    background-color: $colorHoverBTN;
  }
}

.catalog__block__wrap{
  .carousel-indicators{
    bottom: -25px;
  }
  .carousel-indicators li {
    width: 15px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background: url("../img/sl_ind.png") center 0px no-repeat;
  }
  .carousel-indicators li.active{
    background: url("../img/sl_ind.png") center -35px no-repeat;

  }

}





