doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        title О здоровье
        include pug/_STYLE
    body
        .container
            .main-container
                include pug/include/top_header
                include pug/include/header
                include pug/include/bonus
                include pug/include/catalog
                include pug/include/benefits
                include pug/include/reviews
                include pug/include/advantage
                include pug/include/footer
                include pug/include/modal
        include pug/_SCRIPT
