<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>О здоровье</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/bootstrap-select.min.css">
    <link rel="stylesheet" href="style/main.css?v=1.0.2">
  </head>
  <body>
    <div class="container">
      <div class="main-container">
        <div class="top-header__block">
          <div class="custom-container">
            <div class="row">
              <div class="col-xs-6 col__phone__12">
                <div class="top-header__logo">
                  <div class="row">
                    <div class="col-xs-2"><a href="#"><img src="img/logo_top.png" alt="О здоровье"></a></div>
                    <div class="col-xs-10">
                      <h2 class="top-header__title">О здоровье</h2>
                      <h3 class="top-header__subtitle">Интернет-магазин детских подгузников</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col__phone__12">
                <div class="top-header__phone"><a class="top-header__phone__item" href="tel:+375172027649">+375 17 <span class="top-header__phone-big">202-76-49</a></div>
                <div class="top-header__btn">
                  <button class="top-header__phone__btn" data-toggle="modal" data-target="#requestCall">Заказать звонок</button>
                </div>
              </div>
              <!--.col-md-9.col-sm-8-->
              <!--    .top-header__logo-->
              <!--        a(href="#")-->
              <!--            img(src="img/logo_top.png" alt="О здоровье")-->
              <!--.col-md-3.col-sm-4-->
              <!--    .top-header__phone-->
              <!---->
              <!--        a.top-header__phone__item(href="tel:+375293967649") +375 29 <span class="top-header__phone-big">396-76-49-->
              <!--        a.top-header__phone__item(href="tel:+375295467649") +375 17 <span class="top-header__phone-big">546-76-49-->
              <!--    .top-header__phone__button-->
            </div>
          </div>
        </div>
        <header class="row">
          <div class="col-xs-12">
            <div class="header__wrapper">
              <div class="custom-container">
                <div class="row">
                  <div class="col-md-offset-4 col-md-8">
                    <div class="heder__cont">
                      <div class="header__cont__text">
                        <h1 class="header__main-text">
                          Закажите 2 пачки
                          <span class="header__main-text_class">подгузников</span>
                          <span class="header__main-text_name">Pampers </span>
                          и получите карту лояльности от Giz.by в подарок
                        </h1>
                        <h2 class="header__text-stock"></h2>
                      </div>
                      <div class="header__cont__form">
                        <form class="form-inline form__phone" id="sendPhone">
                          <div class="form-group">
                            <h3 class="header__form__name">
                              <label for="userPhone">
                                Оствьте Ваши данные и получите подгузники с доставкой на дом<br>
                                + Карту лояльности в подарок
                              </label>
                            </h3>
                            <input class="header__form__input" type="text" id="userPhone" name="userPhone" placeholder="Телефон">
                            <button class="header__form__btn" type="submit">Получить подгузники и карту лояльности</button>
                          </div>
                        </form>
                        <div class="form__info js_form__info">*Количество карт по акции ограничено</div>
                        <!--div.header__form__name__cart-->
                        <!--    p.header__form__name__cart-text-->
                        <!--        | + Карту лояльности в подарок-->
                        <!--    img.header__form__name__cart-img(src="img/cart.png")-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="bonus__block">
          <div class="custom-container">
            <div class="row">
              <ul class="bonus__list col-xs-12">
                <li class="col-md-3 col-sm-6">
                  <div class="bonus__item">
                    <div class="bonus__item__img"><img src="img/bonus_01.jpg"></div>
                    <div class="bonus__item__name">Рассрочка 0% по “Халве”</div>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="bonus__item">
                    <div class="bonus__item__img"><img src="img/bonus_02.jpg"></div>
                    <div class="bonus__item__name">Оплата ”Smart картой” и “Картой покупок”</div>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="bonus__item">
                    <div class="bonus__item__img"><img src="img/bonus_04.jpg"></div>
                    <div class="bonus__item__name">Постоянные скидки по карте лояльности</div>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="bonus__item">
                    <div class="bonus__item__img"><img src="img/bonus_03.jpg"></div>
                    <div class="bonus__item__name">Бесплатная доставка по Минску от 50 руб</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div><div class="catalog__block" id="vue-catalog-app">
    <div class="custom-container laptop__custom-container">
        <div class="catalog__block__wrap">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="catalog__name__block">
                        <h3 class="catalog__name">Каталог</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="title_filter">
                    <h4>Тип подгузника</h4>
                </div>
                <div class="col-sm-6">
                    <div class="select__block">
                        <div class="form-group">
                            <select
                                    title="ТИП ПОДГУЗНИКОВ"
                                    multiple="multiple"
                                    v-model="typeSelect"
                                    id="selectType"
                                    class="form-control selectpicker">
                                <option value="diaper">Подгузники</option>
                                <option value="panties">Трусики-подгузники</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="buttom__block">
                        <button v-on:click="selectType" class="buttom__filter">Показать</button>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-12">
                    <div class="carousel slide" id="myCarousel" data-ride="carousel">
                        <!-- Indicators-->
                        <ol class="carousel-indicators">
                            <li
                                    v-for="iItem in indicator"
                                    data-target="#myCarousel"
                                    :class="{'active':!iItem}"
                                    v-bind:data-slide-to="iItem">
                            </li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div v-for="(slide, index) in slideCatalog" v-bind:class="{'active':index==0, 'item': true}">
                                <div class="col-md-3 col-sm-6 col-xs-12" v-for="itemProduct in slide">
                                    <div class="product__item js_product__item">
                                        <div class="product__item__img">
                                            <img
                                                    v-bind:src="itemProduct.imgURL"
                                                    v-bind:alt="itemProduct.name">
                                        </div>
                                        <div class="product__item__name">
                                            <p class="product__item__name-text js_product__item__name">{{itemProduct.name}}</p>
                                        </div>
                                        <button class="product__item__btn js_bild_modal" data-toggle="modal" data-target="#myModal">Узнать цену по&nbsp;акции</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel__icon carousel_left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel__icon carousel_right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="benefits__block">
          <div class="custom-container">
            <div class="row">
              <ul class="benefits__list col-xs-12">
                <li class="col-md-3 col-sm-6">
                  <div class="benefits__item">
                    <div class="benefits__item__img benefits__item__img_1"></div>
                    <div class="benefits__item__name">Сухость до 12 часов</div>
                    <div class="benefits__item__description">
                      Уникальная технология впитывающего слоя помогает равномерно распределять влагу по поверхности
                      подгузника, обеспечивая сухость до 12 часов
                    </div>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="benefits__item">
                    <div class="benefits__item__img benefits__item__img_2"></div>
                    <div class="benefits__item__name">Дыщащие материалы</div>
                    <div class="benefits__item__description">
                      Внешний слой обеспечивает естественную циркуляцию воздуха, снижая уровень испарений внутри
                      подгузника, и, как следствие, уменьшая риск возникновения дерматита
                    </div>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="benefits__item">
                    <div class="benefits__item__img benefits__item__img_3"></div>
                    <div class="benefits__item__name">
                      Эластичные тянущиеся
                      боковинки
                    </div>
                    <div class="benefits__item__description">
                      Максимальный
                      комфорт и защита
                      от протекания
                    </div>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6">
                  <div class="benefits__item">
                    <div class="benefits__item__img benefits__item__img_4"></div>
                    <div class="benefits__item__name">Мягкие, как шелк</div>
                    <div class="benefits__item__description">Нежная ромбовидная текстура внутреннего слоя создает ощущение первоклассной мягкости и воздушности</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="reviews__block">
          <div class="custom-container reviews__custom-container">
            <div class="row text-center">
              <div class="col-xs-12">
                <h3 class="reviews__name">Отзывы с Onliner.by</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="reviews__name__mag__block">
                  <h3 class="reviews__name__mag__onliner">giz.by</h3>
                  <p class="reviews__name__stars__onliner"></p><span><a class="reviews__name__link__onliner" href="https://3502.shop.onliner.by" target="_blank">169 отзывов</a></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="reviews__item__onliner">
                  <div class="reviews__item__onliner__name">Дмитрий <span class="reviews__item__onliner__data">более 2 месяцев назад</span></div>
                  <div class="reviews__item__onliner__title">Хороший сервис - довольные клиенты</div>
                  <div class="reviews__item__onliner__stars">Отлично!</div>
                  <div class="reviews__item__onliner__text">
                    Все понравилось. Позвонили, уточнили, согласовали время, курьер вежливый. Был, конечно, нюанс
                    - курьер заплутал и перепутал улицы доставки, но это совсем не критично. Тем более, позвонил,
                    извинился, уточнил, как будет мне удобно и куда доставить с учетом задержки. В общем, отношение
                    порадовало. А косяки - они такие - у каждого могут быть.
                    А еще дали дисконтную карту, которой я непременно воспользуюсь, т.к. планирую делать покупки
                    в этом магазине снова. Купил подгузники Pampers.)
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="reviews__item__onliner">
                  <div class="reviews__item__onliner__name">Руслан <span class="reviews__item__onliner__data">более 3 месяцев назад</span></div>
                  <div class="reviews__item__onliner__title">С приобретением товаров нет проблем</div>
                  <div class="reviews__item__onliner__stars bug__1">Отлично!</div>
                  <div class="reviews__item__onliner__text">Никаких проблем. Все четко по моим условиям уже который раз. Приобрел подгузники Pampers.</div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="reviews__item__onliner">
                  <div class="reviews__item__onliner__name">Анна <span class="reviews__item__onliner__data">более 5 месяцев назад</span></div>
                  <div class="reviews__item__onliner__title">Очень хороший магазин!!!</div>
                  <div class="reviews__item__onliner__stars">Отлично!</div>
                  <div class="reviews__item__onliner__text">
                    Обнаружила, что подгузники "Памперс" в интернет-магазинах стоят гораздо дешевле..Решила
                    заказать здесь. Привезли в то время, как и заказывала. Мой телефон забыла в машине.. Когда пришла
                    обнаружила 10 пропущенных звонков.. Перезвонила.. Оказался курьер.. Спокойным голосом.. Сказал..
                    Что ждёт меня по заявленному адресу!" Спасибо за терпение))
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="reviews__item__onliner">
                  <div class="reviews__item__onliner__name">Владимир <span class="reviews__item__onliner__data">более 7 месяцев назад</span></div>
                  <div class="reviews__item__onliner__title">Отличный магазин с внимательным персоналом</div>
                  <div class="reviews__item__onliner__stars">Отлично!</div>
                  <div class="reviews__item__onliner__text">
                    Искал подгузники Pampers ребенку. 29.11.2016 в 18.45. Позвонил. Оператор вежливо и доступно
                    всё объяснила. Мне отложили заказ, и на следующий день я его забрал. Так еще и скидку сделали.
                    Мелочь, а приятно :) С удовольствием приеду еще!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="advantage__block">
          <div class="custom-container advantage_custom-container">
            <div class="row text-center">
              <div class="col-xs-12">
                <h3 class="advantage__name">
                  Интернет-магазин товаров для красоты <br/>
                  и здоровья Giz.by – это
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="advantage__block__img"><img src="img/advantage1.png"><img src="img/advantage2.png"></div>
              </div>
              <div class="col-md-7">
                <ul class="advantage__block__text">
                  <li class="advantage__text__item">
                    <span class="advantage__item__name">Беспроцентная рассрочка.</span> Рассрочка на 1 месяц с
                    помощью карт покупок «Халва» от МТБ-банка и «Smart карты» от банка Москва-Минск. Рассрочка на
                    2 месяца с помощью «Карты покупок» Белгазпромбанка.
                    С их помощью вы можете приобрести товар без первоначального взноса и без переплат.
                  </li>
                  <li class="advantage__text__item">
                    <span class="advantage__item__name">Работа по всей РБ.</span> Сотни клиентов каждый день
                    совершают покупки в нашем интернет–магазине, и эта цифра растет с каждым днем. Доставляем товары по
                    Минску и Гродно курьером, возможен самовывоз. Другие города РБ, в которых можно забрать товар
                    самостоятельно: Брест, Гомель, Витебск, Гродно, Могилев, Новополоцк, Бобруйск, Барановичи, Солигорск.
                  </li>
                  <li class="advantage__text__item">
                    <span class="advantage__item__name">Огромный выбор.</span> Более 3000 наименований товара в
                    разном ценовом диапазоне под любой бюджет.
                  </li>
                  <li class="advantage__text__item">
                    <span class="advantage__item__name">Надежные поставщики.</span> Сотрудничаем только с лидирующими
                    хорошо себя зарекомендовавшими себя поставщиками средств личной гигиены, а также медицинской и
                    климатической техники.
                  </li>
                  <li class="advantage__text__item">
                    <span class="advantage__item__name">Гарантия.</span> Независимо от стоимости покупки, каждому
                    покупателю выдаем чек. Если товар подлежит гарантии, всегда ее даем, и если наступит гарантийный
                    случай, при наличии чека всегда заменим товар на новый или вернем деньги.
                  </li>
                  <li class="advantage__text__item">
                    <span class="advantage__item__name">Безопасность.</span> Все товары сертифицированы, проходят
                    жесткий контроль и соответствуют нормам. Имеют сертификаты соответствия требованиям технических
                    нормативных правовых актов, а также свидетельства и гигиенические удостоверения.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer__block">
          <div class="custom-container">
            <div class="row">
              <div class="col-xs-6 col__phone__12">
                <div class="top-header__logo">
                  <div class="row">
                    <div class="col-xs-2"><a href="#"><img src="img/logo_top.png" alt="О здоровье"></a></div>
                    <div class="col-xs-10">
                      <h2 class="top-header__title">О здоровье</h2>
                      <h3 class="top-header__subtitle">Интернет-магазин детских подгузников</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col__phone__12">
                <div class="top-header__phone"><a class="top-header__phone__item" href="tel:+375172027649">+375 17 <span class="top-header__phone-big">202-76-49</a></div>
                <div class="top-header__btn">
                  <button class="top-header__phone__btn" data-toggle="modal" data-target="#requestCall">Заказать звонок</button>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!-- Modal form-->
        <div class="modal fade modal__findPrice" id="requestCall" tabindex="-1" role="dialog" aria-labelledby="requestCallLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h4 class="modal-title" id="requestCallLabel">Оставьте Ваши контактные данные для уточнения стоимости и условий акции</h4>
              </div>
              <div class="modal-body">
                <form id="requestCallForm">
                  <div class="form-group">
                    <label for="userPhoneRequest">Номер телефона</label>
                    <input class="form-control modal__form__input" id="userPhoneRequest" type="text" placeholder="Номер телефона" name="userPhoneRequest">
                  </div>
                  <div class="js_form__info__request"></div>
                  <button class="modal__form__btn" type="submit">Оставить заявку</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal-->
        <!-- Modal form-->
        <div class="modal fade modal__findPrice" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h4 class="modal-title" id="myModalLabel">Оставьте Ваши контактные данные для уточнения стоимости и условий акции</h4>
              </div>
              <div class="modal-body">
                <form id="findPrice">
                  <div class="form-group">
                    <label for="userPhonePrice">Номер телефона</label>
                    <input class="form-control modal__form__input" id="userPhonePrice" type="text" placeholder="Номер телефона" name="userPhonePrice">
                  </div>
                  <div class="form-group modal__form__nameProduct">
                    <input class="modal__form__nameProduct" id="nameProduct" type="text" name="nameProduct">
                  </div>
                  <div class="form__findPrice__info"></div>
                  <button class="modal__form__btn" type="submit">Оставить заявку</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal-->
        <div class="modal modal__gratitude" id="gratitude" tabindex="-1" role="dialog" aria-labelledby="modalgratitudeLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h4 class="modal-title modal__gratitude__title" id="modalgratitudeLabel">Спасибо!</h4>
              </div>
              <div class="modal-body">
                <p class="gratitude__text">Ваша заявка отправлена, мы свяжемся с вами в ближайшее время.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/mainVue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>