script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script
    | window.jQuery || document.write('<script src="js/jquery-2.2.4.js"><\/script>')
script(src="js/bootstrap.min.js")
script(src="js/jquery.maskedinput.min.js")
script(src="js/main.js")

