script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script
    | window.jQuery || document.write('<script src="../bower_components/jquery/dist/jquery.min.js"><\/script>')
script(src="../bower_components/bootstrap/dist/js/bootstrap.min.js")
script(src="../bower_components/jquery.maskedinput/dist/jquery.maskedinput.min.js")
script(src="js/bootstrap-select.min.js")
script(src="js/vue.js")
script(src="js/mainVue.js")
script(src="js/main.js")

