$mainContainerBG: #ffffff;
$mainTextColorL: #ffffff;

$colorName: #d64667;

$mainColor: #8bd7fa;
$secondColor: #f48fb1;
$colorHoverBTN: #fe6500;
$btnFormColor: #B68DD0;

$colorError: #C00000;

//FONDS

$mailFontFamily: "HelveticaNeueCyr-Medium";
$secFontFamily: "Calibri"