$mainContainerBG: #ffffff;
$mainTextColorL: #ffffff;

$colorName: #d64667;

$mainColor: #8bd7fa;
$secondColor: #f48fb1;
$colorHoverBTN: #fe6500;
$btnFormColor: #B68DD0;
$catalogBG: #d3f1fa;
$catalogNameBG: #5fc3df;
$colorNameProd: #456a9d;
$colorReviewsName: #737373;
$advantageTextColor: #484848;

$colorError: #C00000;

$colorTextBenefits: #a5a4a4;

//FONDS

$mailFontFamily: "HelveticaNeueCyr-Medium";
$secFontFamily: "Calibri";
$productName: "Pt_sans_bold";

