.advantage__block
    .custom-container.advantage_custom-container
        .row.text-center
            .col-xs-12
                h3.advantage__name
                    | Интернет-магазин товаров для красоты <br/>
                    | и здоровья Giz.by – это
        .row
            .col-md-5
                .advantage__block__img
                    img(src="img/advantage1.png")
                    img(src="img/advantage2.png")
            .col-md-7
                ul.advantage__block__text
                    li.advantage__text__item
                        | <span class="advantage__item__name">Беспроцентная рассрочка.</span> Рассрочка на 1 месяц с
                        | помощью карт покупок «Халва» от МТБ-банка и «Smart карты» от банка Москва-Минск. Рассрочка на
                        | 2 месяца с помощью «Карты покупок» Белгазпромбанка.
                        | С их помощью вы можете приобрести товар без первоначального взноса и без переплат.
                    li.advantage__text__item
                        | <span class="advantage__item__name">Работа по всей РБ.</span> Сотни клиентов каждый день
                        | совершают покупки в нашем интернет–магазине, и эта цифра растет с каждым днем. Доставляем товары по
                        | Минску и Гродно курьером, возможен самовывоз. Другие города РБ, в которых можно забрать товар
                        | самостоятельно: Брест, Гомель, Витебск, Гродно, Могилев, Новополоцк, Бобруйск, Барановичи, Солигорск.
                    li.advantage__text__item
                        | <span class="advantage__item__name">Огромный выбор.</span> Более 3000 наименований товара в
                        | разном ценовом диапазоне под любой бюджет.
                    li.advantage__text__item
                        | <span class="advantage__item__name">Надежные поставщики.</span> Сотрудничаем только с лидирующими
                        | хорошо себя зарекомендовавшими себя поставщиками средств личной гигиены, а также медицинской и
                        | климатической техники.
                    li.advantage__text__item
                        | <span class="advantage__item__name">Гарантия.</span> Независимо от стоимости покупки, каждому
                        | покупателю выдаем чек. Если товар подлежит гарантии, всегда ее даем, и если наступит гарантийный
                        | случай, при наличии чека всегда заменим товар на новый или вернем деньги.
                    li.advantage__text__item
                        | <span class="advantage__item__name">Безопасность.</span> Все товары сертифицированы, проходят
                        | жесткий контроль и соответствуют нормам. Имеют сертификаты соответствия требованиям технических
                        | нормативных правовых актов, а также свидетельства и гигиенические удостоверения.