.benefits__block
    .custom-container
        .row
            ul.benefits__list.col-xs-12
                li.col-md-3.col-sm-6
                    .benefits__item
                        .benefits__item__img.benefits__item__img_1
                        .benefits__item__name
                            | Сухость до 12 часов
                        .benefits__item__description
                            | Уникальная технология впитывающего слоя помогает равномерно распределять влагу по поверхности
                            | подгузника, обеспечивая сухость до 12 часов.
                li.col-md-3.col-sm-6
                    .benefits__item
                        .benefits__item__img.benefits__item__img_2
                        .benefits__item__name
                            | Дыщащие материалы
                        .benefits__item__description
                            | Внешний слой обеспечивает естественную циркуляцию воздуха, снижая уровень испарений внутри
                            | подгузника, и, как следствие, уменьшая риск возникновения дерматита.
                li.col-md-3.col-sm-6
                    .benefits__item
                        .benefits__item__img.benefits__item__img_3
                        .benefits__item__name
                            | Эластичные тянущиеся
                            | боковинки
                        .benefits__item__description
                            | Максимальный
                            | комфорт и защита
                            | от протекания
                li.col-md-3.col-sm-6
                    .benefits__item
                        .benefits__item__img.benefits__item__img_4
                        .benefits__item__name
                            | Мягкие, как шелк
                        .benefits__item__description
                            | Нежная ромбовидная текстура внутреннего слоя создает ощущение первоклассной мягкости и воздушности.