.bonus__block
    .custom-container
        .row
            ul.bonus__list.col-xs-12
                li.col-md-3.col-sm-6
                    .bonus__item
                        .bonus__item__img
                            img(src="img/bonus_01.jpg")
                        .bonus__item__name
                            | Рассрочка 0% по “Халве”
                li.col-md-3.col-sm-6
                    .bonus__item
                        .bonus__item__img
                            img(src="img/bonus_02.jpg")
                        .bonus__item__name
                            | Оплата ”Smart картой” и “Картой покупок”
                li.col-md-3.col-sm-6
                    .bonus__item
                        .bonus__item__img
                            img(src="img/bonus_03.jpg")
                        .bonus__item__name
                            | Бесплатная доставка по Минску от 50 руб
                li.col-md-3.col-sm-6
                    .bonus__item
                        .bonus__item__img
                            img(src="img/bonus_04.jpg")
                        .bonus__item__name
                            | Постоянные скидки по карте лояльности