footer.footer__block
    .custom-container
        .row
            .col-sm-3
                .footer__product
                    h3.footer__product__name
                     | Pampers
            .col-sm-6.text-center
                .footer__logo_block
                    a(href="https://giz.by/")
                        img(src="img/logo.png")