header.row
    .col-xs-12
        .header__wrapper
            .custom-container
                .row
                    .col-md-offset-4.col-md-8
                        .heder__cont
                            .header__cont__text
                                h1.header__main-text
                                    | Подгузники
                                    | <span class="header__main-text_class">премиум класса</span>
                                    | <span class="header__main-text_name">Pampers</span>
                                h2.header__text-stock
                                    | Закажите 2 пачки подгузников Pampers и получите карту лояльности от Giz.by в подарок
                            .header__cont__form
                                form#sendPhone.form-inline.form__phone
                                    .form-group
                                        h3.header__form__name
                                            label(for="userPhone")
                                                | Оствьте Ваши данные и получите подгузники с доставкой на дом<br>
                                                | + Карту лояльности в подарок
                                        input(type="text" id="userPhone" class="header__form__input" name="userPhone" placeholder="Телефон")
                                        button(type="submit" class="header__form__btn")
                                            | Получить подгузники и карту лояльности
                                .form__info.js_form__info
                                    | *Количество карт по акции ограничено
                                //div.header__form__name__cart
                                //    p.header__form__name__cart-text
                                //        | + Карту лояльности в подарок
                                //    img.header__form__name__cart-img(src="img/cart.png")