header.row
    .col-xs-12
        .header__wrapper
            .custom-container
                .row
                    .col-md-offset-4.col-md-8
                        .heder__cont
                            .header__cont__text
                                h1.header__main-text
                                    | Подгузники
                                    | <span class="header__main-text_class">премиум класса</span>
                                    | <span class="header__main-text_name">Pampers</span>
                                h2.header__text-stock
                                    | Закажите 2 пачки любых подгузников Pampers и получите карту лояльности в подарок!
                            .header__cont__form
                                form#sendPhone.form-inline.form__phone
                                    .form-group
                                        h3.header__form__name
                                            label(for="userPhone")
                                                | Оставьте Ваши данные и узнайте больше об акции!
                                        input(type="text" id="userPhone" class="header__form__input" name="userPhone" placeholder="Телефон")
                                        button(type="submit" class="header__form__btn")
                                            | оставить заявку
                                .form__info.js_form__info