// Modal form
#myModal.modal.fade.modal__findPrice(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title Оставьте Ваши контактные данные для уточнения стоимости и условий акции
            .modal-body
                form#findPrice
                    .form-group
                        label(for='userPhonePrice') Номер телефона
                        input.form-control.modal__form__input#userPhonePrice(type='text', placeholder='Номер телефона' name="userPhonePrice")
                    .form-group.modal__form__nameProduct
                        input#nameProduct.modal__form__nameProduct(type='text' name="nameProduct")
                    .form__findPrice__info
                    button.modal__form__btn(type='submit') оставить заявку
// Modal
#gratitude.modal.modal__gratitude(tabindex='-1', role='dialog', aria-labelledby='modalgratitudeLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#modalgratitudeLabel.modal-title.modal__gratitude__title Спасибо!
            .modal-body
                p.gratitude__text Ваша заявка отправлена, мы свяжемся с вами в ближайшее время.