// Modal
#myModal.modal.fade.modal__findPrice(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title Оставьте Ваши данные и узнайте цену на продукт!
            .modal-body
                form#findPrice
                    .form-group
                        label(for='userNamePrice') Ваше имя
                        input.form-control.modal__form__input#userNamePrice(type='text', placeholder='Ваше имя...' name="userNamePrice")
                    .form-group
                        label(for='userPhonePrice') Номер телефона
                        input.form-control.modal__form__input#userPhonePrice(type='text', placeholder='Номер телефона' name="userPhonePrice")
                    .form-group
                        input#nameProduct.modal__form__nameProduct(type='text' name="nameProduct")
                    button.modal__form__btn(type='submit') оставить заявку