.reviews__block
    .custom-container.reviews__custom-container
        .row.text-center
            .col-xs-12
                h3.reviews__name
                    | Отзывы с Onliner.by
        .row
            .col-sm-12
                .reviews__item__onliner
                    .reviews__item__onliner__name
                        | Дмитрий <span class="reviews__item__onliner__data">более 2 месяцев назад</span>
                    .reviews__item__onliner__title
                        | Хороший сервис - довольные клиенты
                    .reviews__item__onliner__stars
                        | Отлично!
                    .reviews__item__onliner__text
                        | Обнаружила, что подгузники "Памперс" в интернет-магазинах стоят гораздо дешевле..Решила
                        | заказать здесь. Привезли в то время, как и заказывала. Мой телефон забыла в машине.. Когда
                        | пришла обнаружила 10 пропущенных звонков.. Перезвонила.. Оказался курьер.. Спокойным голосом..
                        | Сказал.. Что ждёт меня по заявленному адресу!" Спасибо за терпение))
            .col-sm-12
                .reviews__item__onliner
                    .reviews__item__onliner__name
                        | Руслан <span class="reviews__item__onliner__data">более 3 месяцев назад</span>
                    .reviews__item__onliner__title
                        | С приобретением товаров нет проблем
                    .reviews__item__onliner__stars.bug__1
                        | Отлично!
                    .reviews__item__onliner__text
                        | Никаких проблем. Все четко по моим условиям уже который раз. Приобрел подгузники Pampers.
            .col-sm-12
                .reviews__item__onliner
                    .reviews__item__onliner__name
                        | Анна <span class="reviews__item__onliner__data">более 5 месяцев назад</span>
                    .reviews__item__onliner__title
                        | Очень хороший магазин!!!
                    .reviews__item__onliner__stars
                        | Отлично!
                    .reviews__item__onliner__text
                        | Обнаружила, что подгузники "Памперс" в интернет-магазинах стоят гораздо дешевле..Решила
                        | заказать здесь. Привезли в то время, как и заказывала. Мой телефон забыла в машине.. Когда пришла
                        | обнаружила 10 пропущенных звонков.. Перезвонила.. Оказался курьер.. Спокойным голосом.. Сказал..
                        | Что ждёт меня по заявленному адресу!" Спасибо за терпение))
            .col-sm-12
                .reviews__item__onliner
                    .reviews__item__onliner__name
                        | Владимир <span class="reviews__item__onliner__data">более 7 месяцев назад</span>
                    .reviews__item__onliner__title
                        | Отличный магазин с внимательным персоналом
                    .reviews__item__onliner__stars
                        | Отлично!
                    .reviews__item__onliner__text
                        | Искал подгузники Pampers ребенку. 29.11.2016 в 18.45. Позвонил. Оператор вежливо и доступно
                        | всё объяснила. Мне отложили заказ, и на следующий день я его забрал. Так еще и скидку сделали.
                        | Мелочь, а приятно :) С удовольствием приеду еще!