.reviews__block
    .custom-container
        .row.text-center
            .col-xs-12
                h3.reviews__name
                    | Отзывы
        .row.text-center
            .col-md-4
                .reviews__item
                    .reviews__item__img_block
                        img.reviews__item_img(src="img/user1.png")
                    p.reviews__item__text
                        | Обнаружила, что подгузники "Памперс" в интернет-магазинах стоят гораздо дешевле..Решила
                        | заказать здесь. Привезли в то время, как и заказывала. Мой телефон забыла в машине.. Когда
                        | пришла обнаружила 10 пропущенных звонков.. Перезвонила.. Оказался курьер.. Спокойным голосом..
                        | Сказал.. Что ждёт меня по заявленному адресу!" Спасибо за терпение))
                    p.reviews__item__name
                        | Анна
                    p.reviews__item__kinship
                        | Мама
            .col-md-4
                .reviews__item
                    .reviews__item__img_block
                        img.reviews__item_img(src="img/user2.png")
                    p.reviews__item__text
                        | Отличный магазин, приятные девушки операторы, быстрая доставка! С удовольствием каждый месяц
                        | заказываю подгузники Pampers для ребенка. Хотелось бы чтобы у вас в асортименте появились японские
                        | подгузники, а то очень не хочется вам изменять, заказывая в других магазинах. Буду заказывать еще, еще и еще!
                    p.reviews__item__name
                        | Кристина
                    p.reviews__item__kinship
                        | Мама
            .col-md-4
                .reviews__item
                    .reviews__item__img_block
                        img.reviews__item_img(src="img/user3.png")
                    p.reviews__item__text
                        | Все понравилось. Позвонили, уточнили, согласовали время, курьер вежливый. Был, конечно, нюанс
                        | - курьер заплутал и перепутал улицы доставки, но это совсем не критично. Тем более, позвонил,
                        | извинился, уточнил, как будет мне удобно и куда доставить с учетом задержки. В общем, отношение
                        | порадовало. А косяки - они такие - у каждого могут быть.
                        | А еще дали дисконтную карту, которой я непременно воспользуюсь, т.к. планирую делать покупки в
                        | этом магазине снова. Купил подгузники Pampers.
                    p.reviews__item__name
                        | Дмитрий
                    p.reviews__item__kinship
                        | Папа
        .row
            .col-sm-12
                img(src="img/onliner.png")