.top-header__block
    .custom-container
        .row
            .col-xs-6.col__phone__12
                .top-header__logo
                    a(href="#")
                        img(src="img/logo_top.png" alt="О здоровье")
            .col-xs-6.col__phone__12
                .top-header__phone
                    a.top-header__phone__item(href="tel:+375172027649") +375 17 <span class="top-header__phone-big">202-76-49
                .top-header__btn
                    button.top-header__phone__btn(data-toggle='modal', data-target='#requestCall')
                        | Заказать звонок
            //.col-md-9.col-sm-8
            //    .top-header__logo
            //        a(href="#")
            //            img(src="img/logo_top.png" alt="О здоровье")
            //.col-md-3.col-sm-4
            //    .top-header__phone
            //
            //        a.top-header__phone__item(href="tel:+375293967649") +375 29 <span class="top-header__phone-big">396-76-49
            //        a.top-header__phone__item(href="tel:+375295467649") +375 17 <span class="top-header__phone-big">546-76-49
            //    .top-header__phone__button
